*.pyc
*.egg
*.egg-info
build
dist
.coverage
.tox
.testrepository
.venv
*.sublime-workspace
.ropeproject/
*.sqlite
.swift*

debian/*.log
debian/*.debhelper
debian/*.substvars
debian/files
debian/tmp/
debian/python-xtrabackup2swift/

.vagrant
